body {
	margin: 0;
	background-color: #00324e;
}

.header {
	background-color: #00588a;
	height: 60px;
	position: fixed;
	width: 100%;

}

.container {
	width: 95%;
	
}

/*-----------------------------*/

.logo {
	height: 30px;
	padding: 15px;
}

#headsearch {
	height: 30px;
	background-color: #00324e;
	border: 0px;
	border-radius: 6px;
}

.head_enrole {
	color: white;
	text-decoration: none;

}

.head_enter {
	color: white;
	text-decoration: none;
}