body {
	margin: 0;
	background-color: #00324e;
}
*{
	margin:0;
	padding: 0;
}
.header {
	background-color: #006aa6;
	height: 60px;
	/*position: absolute; */
	width: 100%;

}

.container {
	width: 90%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto; 
}
.head_cont {
	line-height: 60px;
	display:block;
    position: relative;
}
/*-----------------------------*/

.logo {
	height: 30px;
	padding: 15px;
}

#headsearch {
	width: 100%;
	height: 100%;
	border: 0px;
	position: absolute;
	vertical-align: middle;
	background-color: #00588a;
	color: #89b2c9;
}
.search_bar {
    top: -15px;
	position: relative;
	background-color: #00588a;
	overflow: hidden;
	height: 30px;
	width: 25%;
	border-radius: 5px;

    display: inline-block;
}
.btn_search {
	position: absolute;
	background-color: #006aa6;
	border: 2px solid #00588a;
	right: 0;
	width: 40px;
	height: 100%;
}

.magnifier_icon {
	width: 15px;
	height: 15px;
}

/*有滑入的狀態*/
.head_enrole:hover { 
	background-color: #336aa6;
}

.head_enrole {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 10%;
	font-family: Microsoft JhengHei;

}

.head_enter {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 5%;
	font-family: Microsoft JhengHei;
}

/*.arrow_icon:hover {
	display: block;
} */

.arrow_icon {
	width: 15px;
	height: 15px;
	padding: 20px;
	position: absolute;
	right: 0;
	margin: 0;
	top: 5p; 

}

/*.more {
	position: absolute;
	right: 0;
	top: 45px;
} */

.content_index .container {
	height: 700px;

}


.frame_left {
	width: 10%;
	display: inline-block;	
	margin: 0 auto;

}


.frame_right {
	width: 20px;
	display: inline-block;
	margin: 0 auto;
}

.dot_full:hover {
	background-color: #4c6f83;
	border-radius: 5px; 

}

.dot_full {
	list-style-type: none; /*列表取消小點點*/
	font-family: Microsoft JhengHei;
	height: 35px;
	width: 135px;
	padding-top: 5px; 
	margin-top: 10px;
}

.full {
	color: #89b2c9;
	text-decoration: none; /*href a 取消底線*/
	margin: 40px;
}

.class_board:hover {
	background-color: #4c6f83;
	border-radius: 5px; 
}

.class_board {
	list-style-type: none;
	padding: 10px 5px 10px 10px;
	/*list-style-image: url('play-button.png');*/
}

.rightarrow {
	width: 10px;
	height: 10px;
	margin-right: 10px; 
}

.classification_board {
	color: #89b2c9;
	text-decoration: none;
	font-family: Microsoft JhengHei;
}

.sch_board:hover {
	background-color: #4c6f83;
	border-radius: 5px; 
}

.sch_board{
	list-style-type: none;
	padding: 10px 5px 10px 10px;
}

.school_board {
	color: #89b2c9;
	text-decoration: none;
	font-family: Microsoft JhengHei;
}

/*-----------------------------*/
.content_index .container .frame_center {
	height: 90%;
	background: white;
} 

.frame_center {
	width: 65%;
	height: 80%;
	display: inline-block;
	background: white;
	margin: 20px 10px 20px 20px;
	border-radius: 4px 4px 0 0; 
}

.index_header {
	padding: 20px 40px;
}

.index_box {
	padding: 15px;
}

/*框架*/
.front_new {
	display: inline;
}

.front_hot {
	display: inline;
	margin-left: 20px;
	border: 2px green dashed;
}

.front_latest {
	display: inline;
	margin-left: 20px;
	border: 2px green dashed;
}

.front_post {
	display: inline;
}

/*針對個別a href和發文button*/
.newclassmate {
	text-decoration: none;
	font-family: Microsoft JhengHei; /*自行變更為微軟正黑體*/
	color: #000000;
	font-size: 18px;
}

.hot_article {
	text-decoration: none;
	font-family: Microsoft JhengHei;
	color: #969696;
}

.latest_article{
	text-decoration: none;
	font-family: Microsoft JhengHei;
	color: #969696;
}

.post {
	background-color: #3397cf;
	font-family: Microsoft JhengHei;
	border: none;   /*無外框*/

}