body {
	margin: 0;
	background-color: #00324e;
}
*{
	margin:0;
	padding: 0;
}
.header {
	background-color: #006aa6;
	height: 60px;
	/*position: absolute; */
	width: 100%;

}

.container {
	width: 90%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto; 
}
.head_cont {
	line-height: 60px;
	display:block;
    position: relative;
}
/*-----------------------------*/

.logo {
	height: 30px;
	padding: 15px;
}

#headsearch {
	width: 100%;
	height: 100%;
	border: 0px;
	position: absolute;
	vertical-align: middle;
	background-color: #00588a;
	color: #89b2c9;
}
.search_bar {
    top: -15px;
	position: relative;
	background-color: #00588a;
	overflow: hidden;
	height: 30px;
	width: 25%;
	border-radius: 5px;

    display: inline-block;
}
.btn_search {
	position: absolute;
	background-color: #006aa6;
	border: 2px solid #00588a;
	right: 0;
	width: 40px;
	height: 100%;
}

.magnifier_icon {
	width: 15px;
	height: 15px;
}

/*有滑入的狀態*/
.head_enrole:hover { 
	background-color: #336aa6;
}

.head_enrole {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 10%;

}

.head_enter {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 5%;
}

/*.arrow_icon:hover {
	display: block;
} */

.arrow_icon {
	width: 15px;
	height: 15px;
	padding: 20px;
	position: absolute;
	right: 0;
	margin: 0;
	top: 5p; 

}

/*.more {
	position: absolute;
	right: 0;
	top: 45px;
} */

.content_index .container {
	height: 700px;

}

.content_index .container .frame_center {
	height: 75%;
	background: white;
} 

.frame_left {
	width: 20%;
	display: inline-block;	
	margin: 0 auto;

}

.frame_center {
	width: 60%;
	height: 80%;
	display: inline-block;
	background: white;
	margin: 20px 10px 20px 20px;
}

.frame_right {
	width: 20px;
	display: inline-block;
	margin: 0 auto;
}

.dot_full {
	list-style-type: none;
	/*border : 2px solid white; */
	background-color: #4c6f83;
	height: 35px;
	width: 135px;
	border-radius: 5px; 
}

.full {
	color: white;
	text-decoration: none;
}